/* BARRE DE NAVIGATION*/

.btn-outline-success:hover {
    color: #fff;
    background-color: rgba(102,52,105,1);
    border-color: rgba(102,52,105,1);
}

.btn-outline-success {
    color: rgba(102,52,105,1);
    border-color: rgba(102,52,105,1);

}

.bg-light {
    background-color: rgba(0,0,0,0.4) !important;;

}


.navbar-light .navbar-nav .nav-link {
    olor: rgba(72,209,204,1);
}